#upper_left {
	width: 15px; height: 15px;
	position: absolute;
	top: 0; left: 0;
	background-image: url(./screw.png);
	background-repeat: no-repeat;
}

#upper_right {
	width: 15px; height: 15px;
	position: absolute;
	top: 0;
	right: 0%;
	background-image: url(./screw.png);
	background-repeat: no-repeat;
}

#lower_left {
	width: 15px; height: 15px;
	position: absolute;
	bottom: 0%; left: 0;
	background-image: url(./screw.png);
	background-repeat: no-repeat;
}

#lower_right {
	width: 15px; height: 15px;
	bottom: 0%;
	right: 0%;
	position: absolute;
	background-image: url(./screw.png);
	background-repeat: no-repeat;
  
}