
.input-field input:focus + label {
    color: grey !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 grey !important
  }
  
  button {
    margin: 5px;
  }