body {
  background-color: rgb(22, 23, 28);
  font-family: 'Varela Round', sans-serif;
  color: white;
  width: 100% !important;
}

.input-field input:focus + label {
  color: grey !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid grey !important;
  box-shadow: 0 1px 0 0 grey !important
}

button {
  margin: 5px;
}

/* .container {
  width: 100%
} */

.register {
  font-weight: bold;
}

.error-wrapper {
	margin: 0, 0, 150px, 0;
	height: auto;
	border-width: 3px;
	border-color: green;
}

.error-container {
	margin: auto;
	width: 50%;
	padding: 8px;
	text-align: center;
	background-color: #e57373;
	width: 90%;
	border-radius: 3px;
}

.error-message {
margin: 0, 50%, 0, 50%;	
color: white;
font-size: 1.2em;
background-color: #e57373;
text-align: center;
}

.z-depth-1-btn {
  box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.14), 0 1px 18px 0 rgba(255, 255, 255, 0.12), 0 3px 5px -1px rgba(255, 255, 255, 0.3);
}


#upper_left {
	width: 15px; height: 15px;
	position: absolute;
	top: 0; left: 0;
	background-image: url(../img/screw.png);
	background-repeat: no-repeat;
}

#upper_right {
	width: 15px; height: 15px;
	position: absolute;
	top: 0;
	right: 0%;
	background-image: url(../img/screw.png);
	background-repeat: no-repeat;
}

#lower_left {
	width: 15px; height: 15px;
	position: absolute;
	bottom: 0%; left: 0;
	background-image: url(../img/screw.png);
	background-repeat: no-repeat;
}

#lower_right {
	width: 15px; height: 15px;
	bottom: 0%;
	right: 0%;
	position: absolute;
	background-image: url(../img/screw.png);
	background-repeat: no-repeat;
  
}

.pointer {
	cursor: pointer;
}