.game {
    height: auto;
    /* overflow: hidden; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.center-div
{
     margin: 0 auto;
     width: 100px; 
}

.game-content
{
    background-color: rgb(22, 23, 28);
    width: 99%;
    height: 99%;
    margin: 10px auto;
}